.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
}

.navbar__item {
    flex-basis: 25%;
    list-style-type: none;
}

.navbar__logout {
    margin-left: auto;
}
.logout-button, .addClassButton{
    background-color: #8B1860;
    border-color: #8B1860;
}
